.hero {
  background: linear-gradient(to right, #fceabb, #f8b500);
  color: #222;
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

section {
  padding: 4rem 2rem;
  text-align: center;
}